<nav>
  <a href="/" {% if page.url == "/" %}aria-current="page"{% endif %}>Home</a>
  <a href="/ideas/" data-random="ideas" {% if page.url == "/ideas/" %}aria-current="page"{% endif %}>Ideas</a>
  <a href="/sources/" data-random="sources" {% if page.url == "/sources/" %}aria-current="page"{% endif %}>Sources</a>
  <a href="/flashcards/" data-random="flashcards" {% if page.url == "/flashcards/" %}aria-current="page"{% endif %}>Flashcards</a>
  <a href="/conversations/" {% if page.url == "/conversations/" %}aria-current="page"{% endif %}>Conversations</a>
  <a href="/notes/" {% if page.url == "/notes/" %}aria-current="page"{% endif %}>Notes</a>
  <a href="/maps/" {% if page.url == "/maps/" %}aria-current="page"{% endif %}>Maps</a>
</nav>
